* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

:root {
    --primary-color: rgb(103, 59, 134);
    --secondary-color: #f8f5f5;
    --tertiary-color: rgb(214, 149, 255);
  }

li {
    list-style:none;
}

a {
    text-decoration: none;
    color: inherit;
}

div {
    padding: 20px;
}

header {
    border-radius: 2px;
    border: grey;
    padding: 75px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    padding: 20px;
}

body {
    font-family: Helvetica;
    background-image: url('https://img.pngio.com/forest-background-the-linux-foundation-forest-background-1800_1013.jpg');
    background-size: cover;
}

header h1 {
    font-weight: bold;
    text-align: center;
    color: black;
}
header nav ul {
    text-align: center;
}

body {
    text-align: center;
}

#hero {
    padding: 75px;

}

.projects {
    padding: 20px;
}

#biography {
    background-color: white;
    opacity: 50%
}

@media screen and (max-width: 600px) {

    .section-title {
      width: 90%;
    }
  
    .works {
      flex: 0 100%;
      flex-direction: column;
    }
  
    .contact-info {
      text-align: center;
    }
    .contact-info > * {
      flex: 0 100%;
    }
    .contact-form {
      order: 2;
    }
    .hero {
      flex-direction: column;
    }
    .contact-msg {
      flex-direction: column;
      font-size: 80%;
      flex: 0 60%;
    }
  }